.login-page{
	text-align: center;
}
.login-form{
	max-width: 30rem;
}
CardBody{
	background-color: none;
}
Form{
	/* width:20rem; */
	/* background-color: #eee; */
	text-align: left;
}
.user-icon{
	margin-bottom: 2rem;
  width: 7rem;
}