//body styles
body {
  margin-top: 4rem;
}

// Navbar styles
.login-link {
  border-radius: 0.25rem;
  float: right;
}

// Register form styles
.register-form {
  text-align: center;
  max-width: 500px;
}
.user-icon {
  font-size: 5rem;
}

// Login and signup pages
.login-page {
  text-align: center;
  background-color: #eee;
}
.w-small {
  width: 18rem;
}
form {
  text-align: left;
}
.user-icon {
  margin-bottom: 2rem;
  width: 7rem;
}
